* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background: var(--white-color);
  color: var(--black-color);
}

ul {
  list-style: none;
}

a {
  color: var(--black-color);
  text-decoration: none;
}
