@import url("satoshi.css");
@import url("integral_cf.css");

:root {
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #F0F0F0;

  --font-primary: "Satoshi-Variable";
  --font-secondary: "Integral-Bold";
}
