header {
  & .promotion {
    height: 34px;
    background-color: var(--black-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.8rem, 2vw, 0.9rem);

    & a {
      color: var(--white-color);
      text-decoration: underline;
    }

    & figure {
      display: none;
    }
  }

  & .header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    height: 80px;
    margin: 0 auto;

    & .logo-container {
      display: flex;
      gap: 25px;
      align-items: center;
      height: 30px;

      & figure {
        display: flex;
        align-items: end;
        height: 100%;
        & img {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }

      & .logo {
        height: auto;
        font-size: clamp(1.7rem, 3vw, 2rem);
      }
    }

    & .icons {
      display: flex;
      gap: 15px;

      & figure {
        & img {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }
    }

    & .links {
      display: none;
    }

    & .search-bar {
      text-align: center;
      display: none;
    }
  }
}

@media screen and (min-width: 991.88px) {
  header {
    & .promotion {
      height: 38px;
      & figure {
        display: flex;
        position: relative;
        left: 25%;
        cursor: pointer;
      }
    }

    & .header-main {
      justify-content: space-around;
      gap: 15px;

      & .logo-container {
        & figure {
          display: none;
        }
      }

      & .links {
        display: flex;

        & ul {
          display: flex;
          gap: 20px;
          & li {
            & .shop {
              display: flex;
              gap: 10px;
              cursor: pointer;
            }
          }
        }
      }

      & .search-bar {
        display: flex;
        min-width: clamp(10%, 40vw, 35%);

        & .search-container {
          display: flex;
          background-color: var(--gray-color);
          height: 48px;
          border-radius: 40px;
          align-items: center;
          width: 100%;

          & figure {
            padding-left: 20px;
          }

          & input {
            height: 30px;
            padding: 0 10px;
            border: none;
            background-color: transparent;
            font-family: "Satoshi-Variable";
            font-size: 1.02rem;
            outline: none;
            width: 90%;
          }
        }
      }

      & .icons {
        & figure:nth-child(1) {
          display: none;
        }
      }
    }
  }
}
