#presentation {
  background-color: var(--gray-color);
  display: flex;
  flex-direction: column;

  & .text-presentation {
    max-width: 90%;
    margin: 0 auto;
    & h1 {
      font-size: clamp(2.25rem, 5vw, 4rem);
      padding: 50px 40px 10px 0;
    }

    & p.text {
      padding: 0 10px 20px 0;
      font-size: clamp(0.875rem, 2vw, 1rem);
      opacity: 60%;
    }
  }

  & .button-shop {
    width: 90%;
    margin: 0 auto;
    & a {
      height: 52px;
      background-color: var(--black-color);
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      cursor: pointer;
      color: var(--white-color);
    }
  }

  & .informations {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;

    & li:nth-child(1),
    li:nth-child(2) {
      min-width: 40%;
      max-width: 50%;
    }

    & li:nth-child(1) {
      border-right: 2px solid #00000010;
      padding-right: 8%;
    }

    & li:nth-child(2) {
      padding-left: 10%;
    }

    & li:nth-child(3) {
      max-width: 100%;
      margin: 0 auto;
      padding-top: 20px;
    }

    & li {
      & h2 {
        font-size: clamp(1.5rem, 2vw, 2.5rem);
      }

      & p {
        font-size: clamp(0.75rem, 2vw, 1rem);
      }
    }
  }

  & .banner {
    max-height: 448px;
    & .figure-banner {
      height: 448px;
      max-width: 100%;
      & .background-img {
        width: 100%;
        height: 448px;
        object-fit: cover;
        object-position: 89%;
      }
    }

    & .stars {
      display: flex;
      max-width: clamp(85%, 50vh, 90%);
      min-height: 150px;
      margin: 0 auto;
      justify-content: end;
      position: relative;
      top: -400px;

      & figure {
        & img {
          width: auto;
        }
      }

      & figure:nth-child(1) {
        align-self: flex-end;
        padding-right: 225px;
        & img {
          max-width: 44px;
        }
      }

      & figure:nth-child(2) {
        & img {
          max-width: 76px;
        }
      }
    }
  }

  & .brands {
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    gap: 15px 8%;
    align-items: center;
    height: 150px;
    flex-wrap: wrap;
    padding: 40px 0;

    & figure:nth-child(1),
    figure:nth-child(2),
    figure:nth-child(3),
    figure:nth-child(4),
    figure:nth-child(5) {
      display: none;
    }
  }
}

@media screen and (min-width: 991.88px) {
  #presentation {
    & .text-presentation {
      max-width: 60%;
      padding: 115px 40px 0 10%;
      margin: 0;
      & h1 {
        padding: 10px 0;
        height: 250px;
      }

      & p.text {
        padding: 0;
        padding-right: 20%;
        height: 85px;
      }
    }

    & .button-shop {
      max-width: clamp(250px, 100vw, 25%);
      margin: 0;
      padding-left: 10%;
    }

    & .informations {
      max-width: 55%;
      margin: 0;
      justify-content: start;
      flex-wrap: nowrap;
      padding: 70px 40px 8px 10%;
      gap: 5%;

      & li {
        padding: 0 !important;
        border-right: 2px solid #00000010 !important;
        min-width: 30% !important;
        max-width: 30% !important;

        & h2 {
          width: 100%;
        }

        & p {
          width: 100%;
        }
      }

      & li:nth-child(3) {
        margin: 0;
        border: none !important;
      }
    }

    .text-presentation,
    .button-shop,
    .informations {
      position: relative;
      z-index: 2;
    }

    & .banner {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;

      & figure {
        height: 100%;

        & .background-img {
          height: 663px !important;
        }
      }

      & .stars {
        min-height: 300px;

        & figure:nth-child(1) {
          align-self: flex-end;
          padding-right: 35%;
          & img {
            max-width: initial;
          }
        }

        & figure:nth-child(2) {
          & img {
            max-width: initial;
          }
        }
      }
    }

    & .brands {
      background-color: var(--black-color);
      display: flex;
      justify-content: center;
      gap: 15px 8%;
      align-items: center;
      flex-wrap: wrap;
      padding: 40px 0;

      & figure:nth-child(1),
      figure:nth-child(2),
      figure:nth-child(3),
      figure:nth-child(4),
      figure:nth-child(5) {
        display: flex;
      }

      & figure:nth-child(6),
      figure:nth-child(7),
      figure:nth-child(8),
      figure:nth-child(9),
      figure:nth-child(10) {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1422.88px) {
  & .text-presentation {
    padding-top: 70px !important;
  }

  & li {
    & h2 {
      font-size: 40px !important;
    }

    & p {
      font-size: 16px !important;
    }
  }

  .informations {
    padding-bottom: 55px !important;
  }
}
