#reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px 5%;

  & .title {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    & h1 {
      font-size: clamp(32px, 2vw, 48px);
      width: 80%;
    }

    & aside {
      width: 70px;
      display: flex;
      align-items: end;
      justify-content: space-between;

      & figure {
        & img {
          cursor: pointer;
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  & .reviews {
    margin-top: 30px;
    & .review {
      border: 1px solid var(--gray-color);
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 30px;
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

      & .stars {
        display: flex;
        margin-bottom: 10px;
        gap: 3px;

        & li {
          & figure {
            & img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }

      & .user {
        width: 150px;
        display: flex;
        align-items: center;

        & h2 {
          font-size: clamp(16px, 2vw, 20px);
          margin-right: 10px;
          margin-bottom: 5px;
        }
      }

      & blockquote {
        font-size: clamp(14px, 2vw, 16px);
        opacity: 60%;
      }
    }

    & .review-2,
    .review-3,
    .review-4,
    .review-5 {
      display: none;
    }
  }
}

@media screen and (min-width: 991.88px) {
  #reviews {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px 0;
    gap: 40px;

    & .reviews {
      display: flex;
      overflow: hidden;
      justify-content: center;
      gap: 20px;

      & .review {
        min-width: 28%;
        position: relative;
        padding: 30px;
      }

      & .review-2,
      .review-3,
      .review-4,
      .review-5 {
        display: flex;
        flex-direction: column;
      }

      & .review-1,
      .review-5 {
        filter: blur(2.5px);
      }
    }
  }
}

.review.moving-next {
  transform: translateX(-120%);
  opacity: 0;
}

.review.moving-prev {
  transform: translateX(120%);
  opacity: 0;
}