<h1>Browse by dress style</h1>
<article>
  <figure>
    <img src="./assets/image1_category.png" alt="A person in casual clothing" />
    <figcaption>Casual</figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="./assets/image2_category.png" alt="A person in formal clothing" />
    <figcaption>Formal</figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="./assets/image3_category.png" alt="A person in party clothes" />
    <figcaption>Party</figcaption>
  </figure>
</article>
<article>
  <figure>
    <img src="./assets/image4_category.png" alt="A person in gym clothing" />
    <figcaption>Gym</figcaption>
  </figure>
</article>
