<footer>
  <article class="newsletter">
    <h1>Stay upto date about our latest offers</h1>
    <form id="formEmail">
      <div class="email-container">
        <figure><img src="./assets/Email.svg" alt="Email icon" /></figure>
        <input type="email" id="inputEmail" placeholder="Enter your email addres" />
      </div>
      <button id="emailBtn">Subscribe to Newsletter</button>
    </form>
  </article>
  <article class="informations">
    <article class="company-information">
      <h1>Shop.co</h1>
      <p>
        We have clothes that suits your style and which you’re proud to wear.
        From women to men.
      </p>
      <ul class="socials">
        <li>
          <figure><img src="./assets/Twitter.svg" alt="Twitter icon" /></figure>
        </li>
        <li>
          <figure>
            <img src="./assets/Facebook.svg" alt=" Facebook icon" />
          </figure>
        </li>
        <li>
          <figure>
            <img src="./assets/Instagram.svg" alt="Instagram icon" />
          </figure>
        </li>
        <li>
          <figure><img src="./assets/Github.svg" alt="Github icon" /></figure>
        </li>
      </ul>
    </article>
    <article class="company info-footer">
      <h2>Company</h2>
      <nav>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Works</a></li>
          <li><a href="#">Career</a></li>
        </ul>
      </nav>
    </article>
    <article class="help info-footer">
      <h2>Help</h2>
      <nav>
        <ul>
          <li><a href="#">Customer Support</a></li>
          <li><a href="#">Delivery Details</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </nav>
    </article>
    <article class="faq info-footer">
      <h2>FAQ</h2>
      <nav>
        <ul>
          <li><a href="#">Account</a></li>
          <li><a href="#">Manage Deliveries</a></li>
          <li><a href="#">Orders</a></li>
          <li><a href="#">Payments</a></li>
        </ul>
      </nav>
    </article>
    <article class="resources info-footer">
      <h2>Resources</h2>
      <nav>
        <ul>
          <li><a href="#">Free eBooks</a></li>
          <li><a href="#">Development Tutorial</a></li>
          <li><a href="#">How to - Blog</a></li>
          <li><a href="#">Youtube Playlist</a></li>
        </ul>
      </nav>
    </article>
  </article>
  <aside class="last">
    <p>Shop.co &copy; 2000-2023, All Rights Reserve</p>
    <div class="payments-methods">
      <figure><img src="./assets/Visa.svg" alt="Visa icon" /></figure>
      <figure>
        <img src="./assets/Mastercard.svg" alt="Mastercard icon" />
      </figure>
      <figure><img src="./assets/Paypal.svg" alt="Paypal icon" /></figure>
      <figure><img src="./assets/Apple_pay.svg" alt="Applepay icon" /></figure>
      <figure>
        <img src="./assets/Google_pay.svg" alt="Googlepay icon" />
      </figure>
    </div>
  </aside>
</footer>
