<header>
  <article class="promotion">
    <p>
      Sign up and get 20% off to your first order.
      <a href="#newsletter">Sign Up Now</a>
    </p>
    <figure>
      <img src="./assets/Close.svg" alt="Close icon" />
    </figure>
  </article>

  <article class="header-main">
    <article class="logo-container">
      <figure>
        <img src="./assets/Menu_hamburguer.svg" alt="Menu icon" />
      </figure>
      <h1 class="logo">SHOP.CO</h1>
    </article>

    <nav class="links">
      <ul>
        <li>
          <div class="shop">
            <a href="#">Shop</a>
            <figure>
              <img src="./assets/Down_arrow.svg" alt="Down arrow icon" />
            </figure>
          </div>
        </li>
        <li><a href="#">On Sale</a></li>
        <li><a href="#">New Arrival</a></li>
        <li><a href="#">Brands</a></li>
      </ul>
    </nav>

    <form class="search-bar" action="/search">
      <div class="search-container">
        <figure>
          <img src="./assets/Search.svg" alt="Search icon" />
        </figure>
        <input type="text" name="q" placeholder="Search for products..." />
      </div>
    </form>

    <aside class="icons">
      <figure><img src="./assets/Search_black.svg" alt="Search icon" /></figure>
      <figure><img src="./assets/Cart.svg" alt="Cart icon" /></figure>
      <figure><img src="./assets/Profile.svg" alt="Profile icon" /></figure>
    </aside>
  </article>
</header>
