<h1>New Arrivals</h1>
<article class="products">
  <article class="product-1">
    <figure class="product-img"><img src="./assets/image1_new.png" alt="T-shirt" /></figure>
    <h2>T-shirt With Tape Details</h2>
    <ul class="rating">
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Half_star.svg" alt="Half star" /></figure>
      </li>
      <li>
        <p>4.5/<span class="max-rating">5</span></p>
      </li>
    </ul>
    <p class="price">$120</p>
  </article>
  <article class="product-2">
    <figure class="product-img"><img src="./assets/image2_new.png" alt="Skinny jeans" /></figure>
    <h2>Skinny Fit Jeans</h2>
    <ul class="rating">
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Half_star.svg" alt="Half star" /></figure>
      </li>
      <li>
        <p>3.5/<span class="max-rating">5</span></p>
      </li>
    </ul>
    <div class="price">
      <p>$240</p>
      <p>$260</p>
      <p>-20%</p>
    </div>
  </article>
  <article class="product-3">
    <figure class="product-img"><img src="./assets/image3_new.png" alt="Shirt" /></figure>
    <h2>Checkered Shirt</h2>
    <ul class="rating">
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Half_star.svg" alt="Half star" /></figure>
      </li>
      <li>
        <p>4.5/<span class="max-rating">5</span></p>
      </li>
    </ul>
    <p class="price">$180</p>
  </article>
  <article class="product-4">
    <figure class="product-img"><img src="./assets/image4_new.png" alt="T-shirt" /></figure>
    <h2>Sleeve Striped T-shirt</h2>
    <ul class="rating">
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Half_star.svg" alt="Half star" /></figure>
      </li>
      <li>
        <p>4.5/<span class="max-rating">5</span></p>
      </li>
    </ul>
    <div class="price">
      <p>$130</p>
      <p>$160</p>
      <p>-30%</p>
    </div>
  </article>
</article>
<a class="view-all" href="#">View All</a>
