<article class="text-presentation">
  <h1>FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
  <p class="text">
    Browse through our diverse range of meticulously crafted garments, designed
    to bring out your individuality and cater to your sense of style.
  </p>
</article>
<a href="#">Shop Now</a>
<ul class="informations">
  <li>
    <h2>200+</h2>
    <p>International Brands</p>
  </li>
  <li>
    <h2>2,000+</h2>
    <p>High-Quality Products</p>
  </li>
  <li>
    <h2>30,000+</h2>
    <p>Happy Customers</p>
  </li>
</ul>
<figure>
  <img class="background-img" src="./assets/2_people.png" alt="2 models" />
</figure>
<div class="stars">
  <figure><img src="./assets/Minor_star.svg" alt="Minor star" /></figure>
  <figure><img src="./assets/Biggest_star.svg" alt="Biggest star" /></figure>
</div>
<article>
  <figure><img src="./assets/Versace.svg" alt="Versace logo" /></figure>
  <figure><img src="./assets/Zara.svg" alt="Zara logo" /></figure>
  <figure><img src="./assets/Gucci.svg" alt="Gucci logo" /></figure>
  <figure><img src="./assets/Prada.svg" alt="Prada logo" /></figure>
  <figure>
    <img src="./assets/Calvin_Klein.svg" alt="Calvin Klein logo" />
  </figure>
</article>
