<article>
  <h1>Our happy customers</h1>
  <aside>
    <figure><img src="./assets/Arrow_left.svg" alt="Left arrow" /></figure>
    <figure><img src="./assets/Arrow_right.svg" alt="Right arrow" /></figure>
  </aside>
</article>
<article class="review-1">
  <ul>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
  </ul>
  <p>Sarah M.</p>
  <figure><img src="./assets/Checked.svg" alt="Checked icon" /></figure>
  <blockquote>
    "I'm blown away by the quality and style of the clothes I received from
    Shop.co. From casual wear to elegant dresses, every piece I've bought has
    exceeded my expectations.”
  </blockquote>
</article>
<article class="review-2">
  <ul>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
  </ul>
  <p>Sarah M.</p>
  <figure><img src="./assets/Checked.svg" alt="Checked icon" /></figure>
  <blockquote>
    "I'm blown away by the quality and style of the clothes I received from
    Shop.co. From casual wear to elegant dresses, every piece I've bought has
    exceeded my expectations.”
  </blockquote>
</article>
<article class="review-3">
  <ul>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
  </ul>
  <p>Alex K.</p>
  <figure><img src="./assets/Checked.svg" alt="Checked icon" /></figure>
  <blockquote>
    "Finding clothes that align with my personal style used to be a challenge
    until I discovered Shop.co. The range of options they offer is truly
    remarkable, catering to a variety of tastes and occasions.”
  </blockquote>
</article>
<article class="review-4">
  <ul>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
  </ul>
  <p>James L.</p>
  <figure><img src="./assets/Checked.svg" alt="Checked icon" /></figure>
  <blockquote>
    "As someone who's always on the lookout for unique fashion pieces, I'm
    thrilled to have stumbled upon Shop.co. The selection of clothes is not only
    diverse but also on-point with the latest trends.”
  </blockquote>
</article>
<article class="review-5">
  <ul class="rating">
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
  </ul>
  <p>Mooen</p>
  <figure><img src="./assets/Checked.svg" alt="Checked icon" /></figure>
  <blockquote>
    "As someone who's always on the lookout for unique fashion pieces, I'm
    thrilled to have stumbled upon Shop.co. The selection of clothes is not only
    diverse but also on-point with the latest trends.”
  </blockquote>
</article>
