<article class="title">
  <h1>Our happy customers</h1>
  <aside>
    <figure><img src="./assets/Arrow_left.svg" alt="Left arrow" /></figure>
    <figure><img src="./assets/Arrow_right.svg" alt="Right arrow" /></figure>
  </aside>
</article>
<article class="reviews">
  <article class="review-1 review">
    <ul class="stars">
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
    </ul>
    <div class="user">
      <h2>Sarah M.</h2>
      <figure><img src="./assets/Checked.svg" alt="Checked icon" /></figure>
    </div>
    <blockquote>
      "I'm blown away by the quality and style of the clothes I received from
      Shop.co. From casual wear to elegant dresses, every piece I've bought has
      exceeded my expectations.”
    </blockquote>
  </article>
  <article class="review-2 review">
    <ul class="stars">
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
    </ul>
    <div class="user">
      <h2>Sarah M.</h2>
      <figure><img src="./assets/Checked.svg" alt="Checked icon" /></figure>
    </div>
    <blockquote>
      "I'm blown away by the quality and style of the clothes I received from
      Shop.co. From casual wear to elegant dresses, every piece I've bought has
      exceeded my expectations.”
    </blockquote>
  </article>
  <article class="review-3 review">
    <ul class="stars">
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
    </ul>
    <div class="user">
      <h2>Alex K.</h2>
      <figure><img src="./assets/Checked.svg" alt="Checked icon" /></figure>
    </div>
    <blockquote>
      "Finding clothes that align with my personal style used to be a challenge
      until I discovered Shop.co. The range of options they offer is truly
      remarkable, catering to a variety of tastes and occasions.”
    </blockquote>
  </article>
  <article class="review-4 review">
    <ul class="stars">
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
    </ul>
    <div class="user">
      <h2>James L.</h2>
      <figure><img src="./assets/Checked.svg" alt="Checked icon" /></figure>
    </div>
    <blockquote>
      "As someone who's always on the lookout for unique fashion pieces, I'm
      thrilled to have stumbled upon Shop.co. The selection of clothes is not
      only diverse but also on-point with the latest trends.”
    </blockquote>
  </article>
  <article class="review-5 review">
    <ul class="stars">
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
      <li>
        <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
      </li>
    </ul>
    <div class="user">
      <h2>Mooen</h2>
      <figure><img src="./assets/Checked.svg" alt="Checked icon" /></figure>
    </div>
    <blockquote>
      "As someone who's always on the lookout for unique fashion pieces, I'm
      thrilled to have stumbled upon Shop.co. The selection of clothes is not
      only diverse but also on-point with the latest trends.”
    </blockquote>
  </article>
</article>
