<h1>Top Selling</h1>
<article class="product-1">
  <figure><img src="./assets/image1_top.png" alt="Shirt" /></figure>
  <h2>Vertical Striped Shirt</h2>
  <ul class="rating">
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <p>5.0/<span class="max-rating">5</span></p>
    </li>
  </ul>
  <div class="price">
    <p>$212</p>
    <p>$232</p>
    <p>-20%</p>
  </div>
</article>
<article class="product-2">
  <figure><img src="./assets/image2_top.png" alt="T-shirt" /></figure>
  <h2>Courage Graphic T-shirt</h2>
  <ul class="rating">
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <p>4.0/<span class="max-rating">5</span></p>
    </li>
  </ul>
  <p>$145</p>
</article>
<article class="product-3">
  <figure><img src="./assets/image3_top.png" alt="Bermuda Shorts" /></figure>
  <h2>Loose Fit Bermuda Shorts</h2>
  <ul class="rating">
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <p>3.0/<span class="max-rating">5</span></p>
    </li>
  </ul>
  <p>$80</p>
</article>
<article class="product-4">
  <figure><img src="./assets/image4_top.png" alt="Skinny jeans" /></figure>
  <h2>Faded Skinny Jeans</h2>
  <ul class="rating">
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Full_star.svg" alt="Full star" /></figure>
    </li>
    <li>
      <figure><img src="./assets/Half_star.svg" alt="Half star" /></figure>
    </li>
    <li>
      <p>4.5/<span class="max-rating">5</span></p>
    </li>
  </ul>
  <p>$210</p>
</article>
<a href="#">View All</a>
